<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AQI</title>
    <!-- CSS only -->
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        /* .container{
            background-color: black;
            display: grid;
            grid-template-rows:200px 200px ;
            grid-template-columns: 200px 200px;
        } */

        .flex-container {
          display: flex;
          flex-direction: column;
          margin: 5px auto;
          /* background-color: DodgerBlue; */
          /* height: 400px;     */
        }
        
        .flex-container > div {
          background-color: #f1f1f1;
          width: 100%;
          margin: 5px;
          text-align: center;
          /* height: 25%; */
          /* line-height: 75px; */
          /* font-size: 30px; */
        }

    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="../static/js/index.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="head" style="background-color: aqua; height: 20%;text-align: center;" > <h1>AQI Prediction For Delhi </h1></div>

     
    <div class="d-flex bd-highlight" style="align-items: flex-start;background-color: brown;height: 90vh;width: 100vw;flex-direction: row;">

       
        
            <div class="col-md-5" style="background-color: pink; height: 100%;display: flex;flex-direction: column;padding: 5%;">

            <div style="padding-bottom: 20%;">
            <form action="/" method="POST" id="post-form">
                {% csrf_token %}
        
                <label for="date"> select date : </label>
                <div class="form-group" style="display: flex; width: 50%;align-items: center;justify-content: center;padding: 10px;">
                    
                <input type="date" step="0.1" class="form-control" id="date" min="2020-07-02" max="2020-07-30" name="date" placeholder="" required>
            </div>
            <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
        </form>
    </div>
    <div>
        <h3>Prediction for {{d}}</h3>
        <table style="width:80%;background-color: yellow ;" >
            <tr>
              <td>AQI</td>
              <td>{{ans}}</td>
            </tr>
            <tr>
              <td>SO2</td>
              <td>{{ans2}}</td>
            </tr>
            <tr>
              <td>NO2</td>
              <td>{{ans3}}</td>
            </tr>
            <tr>
              <td>CO</td>
              <td>{{ans4}}</td>
            </tr>
          </table>

          
       <!-- <h4> AQI of DELHI on {{d}} would be {{ans}} </h4> -->
    </div>
    </div>
           
            <div class="col-md-7" style="padding: 2%;">
                <div class="flex-container" style="margin: 5%;">
                <div><canvas id="myChart" height="15%" width="100%"></canvas></div>
                <div><canvas id="myChart2" height="15%" width="100%"></canvas></div>
                <div><canvas id="myChart3" height="15%" width="100%"></canvas></div>
                <div><canvas id="myChart4" height="15%" width="100%"></canvas></div>
            </div>
        </div>

    
        </div>

  
</body>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');


    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels:{{d2|safe}},
            datasets: [{
                label: 'AQI',
                data: {{d1|safe}},
                backgroundColor: 'rgba(255, 99, 132, 1)',
                borderColor: 'rgba(51, 51, 0, 1)',
                borderWidth: 1,
                fill : false,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes : [{
                    ticks: {
                display: false //this will remove only the label
            }
                }]
            }
        }
    });
</script>

<script>
    var ctx = document.getElementById('myChart2').getContext('2d');


    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels:{{d2|safe}},
            datasets: [{
                label: 'SO2',
                data: {{d3|safe}},  
                backgroundColor: 'rgba(255, 255, 26, 1)',
                borderColor: 'rgba(51, 51, 0, 1)',
                borderWidth: 1,
                fill : false,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes : [{
                    ticks: {
                display: false //this will remove only the label
            }
                }]
            }
        }
    });
</script>

<script>
    var ctx = document.getElementById('myChart3').getContext('2d');


    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels:{{d2|safe}},
            datasets: [{
                label: 'NO2',
                data: {{d4|safe}},
                backgroundColor: 'rgba(255, 0, 0, 1)',
                borderColor: 'rgba(51, 51, 0, 1)',
                borderWidth: 1,
                fill : false,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes : [{
                    ticks: {
                display: false //this will remove only the label
            }
                }]
            }
        }
    });
</script>

<script>
    var ctx = document.getElementById('myChart4').getContext('2d');


    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels:{{d2|safe}},
            datasets: [{
                label: 'CO',
                data: {{d5|safe}},
                backgroundColor: 'rgba(102, 204, 0, 1)',
                borderColor: 'rgba(51, 51, 0, 1)',
                borderWidth: 1,
                // fill : false,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes : [{
                    ticks: {
                display: false //this will remove only the label
            }
                }]
            }
        }
    });
</script>

</html>

